body 
	{
		text-align:left;
		align-items: center;
		justify-content: center;
}
form{
	border: 2px solid white;
	width: 45%;
	min-height: 300px;
	padding-bottom: 70px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	background-color:white;
}
.image{
	margin:center;
	padding-top: 5%;
}

p{
	font-size: 25px;
	margin: center;
	padding-top:0;
	font-family: copperplate, fantasy;
}

.job{
	font-size: 20px;
	color: black;
	margin-left:100;
	margin-right: 0;
	margin-top:0;
	font-family: georgia, serif;
}
.profile{
	font-size: 30px;
	margin-left:0;
	margin-right:100%;
	Color:black;
}
.text{
	font-size: 20px;
	color: black;
	text-align:left;
	padding-top: 3%;
}